*,
::after,
::before{
    box-sizing: border-box;
}

:root{
    --color-icons: #fff
}

html{
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
}

body{
    margin: 0;
    padding: 0;
    background-color: #1e1622;
    color: white;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    background: linear-gradient(to right, rgb(141 133 233), rgb(72, 10, 84));
    height: 64px;
    box-shadow: 0 5px 20px 10px #00000026;
    z-index: 9;
}

.navbar {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    width: 20px;
    height: 30px;
}

.btn-open {
    background: none;
    border: none;
    font-size: 24px;
    padding: 0;
    cursor: pointer;
    color: white;
}

/* MENU */
.menu {
    position: fixed;
    top: 64px;
    left: -100%;
    background-color: #0f0e1b;
    width: 85%;
    height: calc(100vh - 64px);
    padding: 30px 40px;
    transition: left .5s ease-in-out;
    display: flex;
    flex-direction: column;
}

.menu-list{
    display: inline-flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 60px;
    
}

.menu-item{
    display: block;
}

.menu-link{
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
}

.menu-link:hover {
    color: #7d1c90;
}

.show-menu{
    left: 0;
}

.btn-close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;    
    color: white;
}

/* SECTION-BIENVENIDA */

h1{
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 70px 0 60px 0;
}

.intro{
    color: white;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container_hero{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-around;
    max-width: 1024px;
    height: calc(100vh - 80px);
    align-items: center;
}

.i_p {
    font-size: 30px;
    margin: 0;
    color: var(--color-black);
    font-weight: var(--font-weight);
}

.intro span {
    font-size: 34px;
    background: linear-gradient(to right, rgb(141 133 233), rgb(72, 10, 84));
    font-weight: 700;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.container-perfil{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.img-fotoperfil{
    width: 230px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px transparent;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 10px 3px rgb(81 41 113);
}

.perfil{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.icons{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.icons-perfil i{
    font-size: 50px;
    color: var(--color-icons);
}

.texto-bienvenida {
    max-width: 1024px;
    text-align: center;
    margin: 30px auto 0 auto;
    padding: 0 35px;
}

.texto-perfil {
    font-size: 1.25rem; 
    color: #fff;
}

.presenh2{
    text-align: center;
    background: linear-gradient(to right, rgb(141 133 233), rgb(72, 10, 84));
    font-weight: 700;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.wid-mx{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

/* SECTION-SKILLS */
.text-info{
    text-align: center;
    margin: 30px auto 40px auto;
    padding: 0 35px;
    max-width: 70%;
}


.infoh2{
    text-align: center;
    background: linear-gradient(to right, rgb(141 133 233), rgb(72, 10, 84));
    font-weight: 700;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.text-lenguagues{
    font-size: 1.25rem; 
    color: #fff;
}

.skills-tech {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 40px;
}

.skill{
    box-shadow: 1px 1px 10px 3px rgb(81 41 113);
    background-color: #212124;
    border-radius: 10px;
    padding: 1em;
    text-align: center;
    height: 140px;
}



.skill img{
    max-width: 50px; /* Establece el ancho máximo para asegurar que no se expandan más allá de 100px */
    width: 100%;
    max-height: 50px;
}

.skill h3{
    font-size: 17px;
    color: white;
    margin: 10px 0;
}

.icons-languagues{
    max-width: 496px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 70px;
}

.icons-container {
    min-width: 50%;
    display: flex;
    flex-direction: column;
}

.icons-languagues i{
    color: #fff;
    font-size: 50px;
}

.lenguagues{
    margin: 0 auto;
    max-width: 1024px;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* EDUCACION */
.list-educacion{
    list-style: circle;
    font-size: 1.25rem; 
    color: #fff;
}

.info-educacion{
    font-size: 1.25rem; 
    color: #fff;
}

.img-educacion{
    max-width: 496px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 70px;
}

.img-educacion i{
    font-size: 80px;
    color: var(--color-black);
}

.info-educacion {
    margin: 0 auto 40px auto;
    max-width: 900px;
    text-align: center;
    padding: 0 35px;
}

.educacion-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 70%;
}

.eduh2{
    font-size: 1.5rem;
    text-align: center;
    background: linear-gradient(to right, rgb(141 133 233), rgb(72, 10, 84));
    font-weight: 700;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.educacion {
    margin: 0 auto 120px auto;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* PROYECTOS */

.proycc{
    margin-bottom: 60px;
    max-width: 1024px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 60px auto;
}

.proycc-title{
    text-align: center;
    background: linear-gradient(to right, rgb(141 133 233), rgb(72, 10, 84));
    background-clip: text;
    color: transparent;
}

.proyect-img{
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.proyect-img img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}


.proyoff-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 30px;    
}

.proyect {
    margin: 0 auto;
    overflow: hidden;
    width: 300px;
}

.proyect-name, .proyect-description, .proyect-skills{
    color: var(--color-black);
}

.proyect-description{
    height: 120px;
}


.proyect-name{
    text-align: center;
}

.proycc-container {
    width: 95%;
}

.proyect-skills{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.proyect-skills span{
    background-color: #a478ac;
    padding: .5em 1em;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}

span.html {
    background: linear-gradient(to right, #F16524, #E54C21);
}

span.css{
    background: linear-gradient(to right, #2965F1, #264DE4);
}

span.respo{
    background: linear-gradient(to right, #757e3d, #4a5817);
}

span.javascript{
    background: linear-gradient(to right, #FFDA3E, #D6BA32);
}

span.react{
    background: linear-gradient(to right, #0C9FCB, #61DAFC);
}



.proyect-skills span:hover{
    background-color: #482780;
    color: white;
}

.overlay {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #0000008f;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s visibility .3s;
}

.proyect-img:hover .overlay{
    opacity: 1;
    visibility: visible;
}

.btn_proy {
    width: 50px;
    height: 40px;
    margin: 0px 0px 10px 10px;
    background-color: #0f0e1b;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn_proy:hover{
    background-color: #482780;
}


/* CONTACTO */

.input-mitad, .input-full{
    font-family: inherit;
    font-size: 18px;
}


#contacto{
    padding: 30px 15px;
}

#contacto .titulo-seccion{
    margin-bottom: 20px;
    text-align: center;
    background: linear-gradient(to right, rgb(141 133 233), rgb(72, 10, 84));
    background-clip: text;
    color: transparent;
}

#contacto .contenedor-form{
    max-width: 600px;
    margin: auto;
}

#contacto .contenedor-form .fila{
    margin-bottom: 15px;
}

#contacto .contenedor-form .mitad{
    display: flex;
    justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea{
    padding: 10px;
    border-radius: 20px;
    border: none;
    border: 1px solid #555285;
    font-family: inherit;
}

#contacto .contenedor-form .mitad input{
    width: 48%;
}

#contacto .contenedor-form .input-full{
    width: 100%;
}

#contacto .btn-enviar{
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px;
    font-weight: bold;
}

#contacto .btn-enviar:hover{
    background-color: #0f0e1b;
    color: white;
}

.titulo-seccion{
    text-align: center;
}

.mayor_box {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.box {
    padding: 1em 2em;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
    width: 45%;
    justify-content: center;
    background-color: #110e189c;
}

.btn-enviar{
    width: 150px;
    height: 40px;
}


/* FOOTER */

.footer{
    background: linear-gradient(to right, rgb(141 133 233), rgb(72, 10, 84));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-parrafo{
    text-align: center;
    color: #fff;
    font-size: .89rem;
    padding-top: 10px;
    margin: 0;
}

.icons-perfil-f{
    font-size: 25px;
    color: #fff;
}

.icons-f{
margin-top: 10px;
display: flex;
justify-content: center;
align-items: center;
gap: 40px;
}

.bienvenida{
    margin-bottom: 60px;
}

.lenguagues{
    margin-bottom: 60px;
}

#proyectos{
    margin-bottom: 120px;
}

.fondogris {
    background-color: #121214;
    border-radius: 2vh;
    transform: none;
    transition: background-color 0.9s ease, transform 0.4s ease;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    box-shadow: 1px 1px 10px 3px rgb(81 41 113);
}



.fondogris:hover {
    background-color: #482780;
    transform: scale(1.1);
}

h2{
    color: #979DAC;
}

.btn-theme{
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: white;
}

@media screen and (min-width: 800px) {

    .container {
        max-width: 1024px;
    }

    .header {
        height: 80px;
    }

    /* Añade el siguiente código para mostrar el menú en fila */
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        position: relative;
        top: 0;
        height: inherit;
        left: initial;
    }

    .btn-close{
        display: none;
    }

    .menu-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        align-items: center;
        margin: 16px 0;
    }

    .menu-link {
        padding: 10px;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
    }

    .bienvenida {
        display: flex;
        flex-direction: column;
    }

    .lenguagues {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #contacto .contenedor-form {
        max-width: 800px;
    }

    .footer {
        height: 100px;
    }

    .btn-open{
        display: none;
    }

    .show-menu{
        left: 0;
    }
    
}

/* .btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    padding: 20px;
    cursor: pointer;
}

.menu-list {
    display: inline-flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 90px;
} */

.light{
    background-color: white;
    --color-black: #000;
    --font-weight: 600;
    --color-icons: #000;
}

div#contacto {
    margin-bottom: 100px;
}

section#skills {
    margin-bottom: 120px;
}

section#bienvenida {
    margin-bottom: 120px;
}

@media screen and (max-width: 750px){
    .container_hero{
        flex-direction: column;
        margin: 25px auto auto auto;
        height: calc(100vh - 80px);
    }
}

@media screen and (max-width: 630px){
    
    .btn-enviar{
        margin: 20px auto 0 auto !important;
    }
    
    .box{
        height: 80px;
        margin: 0;
        width: 270px;
    }
    
    .mayor_box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 572px){
    .intro p{
        font-size: 25px;
    }

    .intro span{
        font-size: 28px;        
    }

    .icons_perfil i{
        font-size: 35px;
    }
}
